<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Filmų paieška</title>
</head>
<body>
  <div th:insert="fragments/navbar.html"></div>

<h3 th:text = "${kategorija.getPavadinimas()}"></h3>

<div th:each="filmai : ${kategorija.getFilmai()}" class="list-group">
  <a th:text = "${filmai.getPavadinimas()}" th:href="@{/filmai/informacija/} + ${kategorija.getId()}" class="list-group-item list-group-item-action"></a>

</div>
<<form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/kategorija/istrinti/} + ${kategorija.getId()}" method="post">
    <input type="submit" value="Ištrinti">
  </form>
  <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/kategorija/redagavimas/} + ${kategorija.getId()}" method="get">
    <input type="submit" value="Redaguoti">
</body>
</html>